<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #sidenav
        [opened]="isSidenavOpen"
        (closed)="isSidenavOpen = false"
        mode="over"
        class="sidenav"
    >
        <div class="sidenav-content">
            @if (currentUser) {
                <div class="user-greeting">Hello, {{ currentUser.name }}</div>
                <a
                    mat-button
                    routerLink="/users"
                    routerLinkActive="active-link"
                    (click)="toggleSidenav()"
                    class="nav-link"
                    *ngIf="isAdmin()"
                >
                    <mat-icon>list</mat-icon>
                    User List
                </a>
                <a
                    mat-button
                    routerLink="/user-details"
                    routerLinkActive="active-link"
                    (click)="toggleSidenav()"
                    class="nav-link"
                >
                    <mat-icon>person</mat-icon>
                    My Details
                </a>
                <a
                    mat-button
                    routerLink="/add"
                    routerLinkActive="active-link"
                    (click)="toggleSidenav()"
                    class="nav-link"
                    *ngIf="isAdmin()"
                >
                    <mat-icon>person_add</mat-icon>
                    Add User
                </a>
                <button mat-button (click)="logout(); toggleSidenav()" class="nav-link">
                    <mat-icon>logout</mat-icon>
                    Logout
                </button>
            } @else {
                <a
                    mat-button
                    routerLink="/login"
                    routerLinkActive="active-link"
                    (click)="toggleSidenav()"
                    class="nav-link"
                >
                    <mat-icon>login</mat-icon>
                    Login
                </a>
                <a
                    mat-button
                    routerLink="/signup"
                    routerLinkActive="active-link"
                    (click)="toggleSidenav()"
                    class="nav-link"
                >
                    <mat-icon>person_add</mat-icon>
                    Signup
                </a>
            }
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="toolbar">
            <button mat-icon-button class="menu-button" (click)="toggleSidenav()" *ngIf="isMobile">
                <mat-icon>menu</mat-icon>
            </button>

            <span class="title">CRUD App</span>
            <span class="spacer"></span>

            <div class="desktop-links" *ngIf="!isMobile">
                @if (currentUser) {
                    <span class="user-greeting">Hello, {{ currentUser.name }}</span>
                    <a
                        mat-button
                        routerLink="/users"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="nav-link"
                        *ngIf="isAdmin()"
                    >
                        <mat-icon>list</mat-icon>
                        User List
                    </a>
                    <a
                        mat-button
                        routerLink="/user-details"
                        routerLinkActive="active-link"
                        class="nav-link"
                    >
                        <mat-icon>person</mat-icon>
                        My Details
                    </a>
                    <a
                        mat-button
                        routerLink="/add"
                        routerLinkActive="active-link"
                        class="nav-link"
                        *ngIf="isAdmin()"
                    >
                        <mat-icon>person_add</mat-icon>
                        Add User
                    </a>
                    <button mat-button (click)="logout()" class="nav-link">
                        <mat-icon>logout</mat-icon>
                        Logout
                    </button>
                } @else {
                    <a
                        mat-button
                        routerLink="/login"
                        routerLinkActive="active-link"
                        class="nav-link"
                    >
                        <mat-icon>login</mat-icon>
                        Login
                    </a>
                    <a
                        mat-button
                        routerLink="/signup"
                        routerLinkActive="active-link"
                        class="nav-link"
                    >
                        <mat-icon>person_add</mat-icon>
                        Signup
                    </a>
                }
            </div>
        </mat-toolbar>

        <div class="main-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>