/* Import the Material theme */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  padding: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #121212; /* Default dark background */
  color: #ffffff; /* Default text color for dark theme */
  transition: background-color 0.3s, color 0.3s;
}

body.light-theme {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text for light theme */
}
.error-snackbar {
    background-color: #ef5350;
    color: white;
}